@import "tailwindcss";

@media print {
    body * {
        visibility: hidden;
    }

    .printable-area,
    .printable-area * {
        visibility: visible;
    }

    .printable-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        box-shadow: none !important;
    }

    /* Hide no-print elements explicitly if inside printable area */
    .no-print {
        display: none !important;
    }
}